$breakpoint-tablet: 768px;
$breakpoint-mobile: 450px;

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;
  row-gap: 3.6rem;
  column-gap: 0.6rem;

  @media screen and (max-width: $breakpoint-tablet) {
    grid-template-columns: auto auto;
  }

  @media screen and (max-width: $breakpoint-mobile) {
    grid-template-columns: auto;
  }
}
